.body{
    font-family: 'Times New Roman', Times, serif;
    background: #d6f0c6;
    padding: 20px;
    text-align: justify;
}

.container {
    max-width: 800px;
    margin: auto;
    background: rgb(110, 42, 42);
    border-radius: 8;
}

    h1, h2 {
        margin-top: 20px;
}

    .box {
        width: 200px;
        padding: 10px;
        border: 4px solid #8d584c;
        margin: 10px 0 6 8;
        background: rgb(78, 47, 47);
    }

    .float-img {
        float: right;
        width: 240px;
        height: auto;
        margin: 10px;
        border-radius: 8px;
    }

    .clearfix::after {
        content: "";
        display: table;
        clear: both;
    }
    
    .clearfix::after {
        content: ;
        display: block;
        clear: both;
    }